:root {
  --primary-color: #e3d1bc;
  --secondary-color: #522123;
  --hover-color: white;
  --home-color: #171108;
}

*
  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  font-family: Helvetica, Arial, sans-serif, Georgia, Times;
}

/* SECTION STYLES START */
section {
  padding: 0 100px;
}

.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  text-align: left;
  margin: auto auto auto 50px;
  width: 80%;
  font-family: georgia;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--secondary-color);
}
/* SECTION TITLE STYLES END */

/* HEADER AND NAVIGATION BAR STYLES START */
header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/header.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 99;
}

header nav {
  display: flex;
  width: 100%;
}

header nav img {
  width: 20%;
  border-radius: 50%;
}

header nav .navbar-left {
  display: flex;
  width: 100%;
}

header nav .navbar-left ul li {
  display: flex;
  flex-direction: column;
}

header nav .navbar-left ul li a {
  padding: 10px 15px;
  color: var(--primary-color);
  text-decoration: none;
}

header nav .navbar-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav .navbar-middle p{
  font-family: Georgia;
  font-style: italic;
  color: var(--primary-color);
  text-shadow: none;
  margin-top: 10px;
}

Header nav .navbar-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

header nav .navbar-right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav .navbar-right ul li a {
  padding: 10px 15px;
  color: var(--primary-color);
  text-decoration: none;
}

header nav ul li a:hover {
  padding: 0 10px;
  font-style: italic;
  color: var(--hover-color);
  text-shadow: none;
  font-size: 1.3vw;
}
/* HEADER AND NAVIGATION BAR STYLES END */

/* HERO SECTION START */
.hero {
  background-image: url('../images/header.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-container {
  display: flex;
  height: 550px;
  width: 100%;
}

.hero-container h2 {
  font-style: italic;
  font-size: 35px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-left  {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 100px;
}

.hero-middle  {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0 100px;
}

.hero-right  {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 420px;
}
/* HERO SECTION END */

/* HOME SECTION START */
.home {
  background-color: #f4ede4;
  position: sticky;
  top: 0;
  }
  
.home a {
  font-weight: bold;
  font-size: 20px;
  color: var(--home-color);
  text-decoration: none;
  }

.home a:hover {
  font-style: italic;
  padding: 0;
  color: var(--home-color);
  text-shadow: none;
  font-size: 25px;
}
/* HOME SECTION END */

/* BIO SECTION START */
.bio {
  padding: 20px 150px;
  background-color: #f4ede4;  
  }

.bio p {
  line-height: 1.7;
  color: var(--secondary-color);
  width: 80%;
  margin: 35px auto;
  font-size: 20px;
  text-align: justify;
}
/* BIO SECTION  END */

/* PORTFOLIO SECTION START */
.flex-row {
  display: flex;
  margin: 15px 0;
  flex-direction: column;
}

.job-container {
  display: flex;  
  flex-wrap: wrap;
  padding: 20px 150px;
  background-color: #EDE1D3;
}

.job {
  display: flex;
  padding: 2%;
  width: 50%;
  flex-direction: column;
  border-style: solid;
  border-color: var(--primary-color);
}

.job h3 {
  font-size: 26px;
  align-self: center;
}

.job img {
  margin: 0 40px;
  width: 50%;
  align-self: center;
}

.job p {
  line-height: 1.2;
    color: var(--secondary-color);
    width: 50%;
    font-size: 20px;
    text-align: justify;
    align-self: center;
}

.job:first-child {
  flex: 1 1 80%;
  flex-direction: row;
}
/* PORTFOLIO SECTION END */

/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}
/* FOOTER STYLES END */

/* CONTACT ME STYLES START */
.contact {
  background: var(--secondary-color);
  padding-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 48px;
  text-align: center;
  font-style: italic;
  font-family: Georgia;
}

.contact-info p {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: var(--primary-color);
}

.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: italic;
  color: var(--hover-color);
}

.contact-info address a {
  color: var(--hover-color);S
}
/* CONTACT ME STYLES END */

/* MEDIA QUERY FOR SMALL SCREENS */ 
@media screen and max-width: 980px; {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-container {
    width: 100%;
    text-align: center;
  }

  .hero-right {
    height: auto;
  }
  
  .home a {
    font-weight: bold;
    font-size: 40px;
    color: var(--home-color);
    text-decoration: none;
  }
  
  .home a:hover {
    font-style: italic;
    color: var(--home-color);
    text-shadow: none;
    font-size: 50px;  
  }

  .jobs-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px 0 25px;
  }

  .job h3 {
    font-size: 26px;
    width: 25%;
  }

  .job img {
    margin: 0 40px;
    width: 80%;
  }
}

/* MEDIA QUERY FOR TABLETS */
@media screen and (max-width: 768px) {
  section {
    padding: 10px 10px;
  }

  .jobs-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
  }

  .job h3 {
    font-size: 20px;;
  }

  .job img {
    margin: 0 10px;
    width: 30%;
  }
}
  
/* MEDIA QUERY FOR MOBILE PHONES */
@media screen and (max-width: 575px) {
  .job p {
    line-height: 1;
      color: var(--secondary-color);
      width: 50%;
      margin: 30px 0 10px 0;
      font-size: 15px;
      text-align: justify;
   }
  
  .job h3 {
    font-size: 20px;
    width: 25%;
  }

   .job img {
    margin: 0 5px;
    width: 35%;
  }
}